<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <title>Your Bank Reast Password</title>
    <style>
      .loginPage {
        margin-top: 100px;
        border-radius: 16px;
        border: 1px solid var(--grey-15, #262626);
        background: linear-gradient(
            106deg,
            rgba(202, 255, 51, 0.05) -29.45%,
            rgba(202, 255, 51, 0) 27.86%
          ),
          linear-gradient(267deg, #1c1c1c 40.67%, rgba(28, 28, 28, 0) 99.81%);
        background-blend-mode: overlay, normal;
        overflow: hidden;
      }

      .loginPage .vector {
        width: 256px;
        height: 243px;
        right: -10px;
        top: 0;
        fill: radial-gradient(
          152.24% 143.75% at 103.26% 0%,
          rgba(25, 25, 25, 0.3) 20.29%,
          rgba(202, 255, 51, 0.3) 34.91%,
          rgba(25, 25, 25, 0.3) 60.69%
        );
      }

      .loginPage .login__form {
        display: flex;
        flex-direction: column;
        padding: 80px 200px;
        align-items: center;
        gap: 60px;
      }

      .login__form .form_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        text-align: center;
      }

      .login__form .form_content .title {
        color: var(--color-60, #caff33);
        text-align: center;
        font-family: Lexend;
        font-size: 38px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      .login__form .form_content .description {
        color: var(--color-75-2, #bfbfbf);
        text-align: center;
        font-family: Lexend;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }

      .form_content .form_input {
        display: flex;
        align-items: center;
        gap: 20px;
      }
      .loginPage .form_content .form_input .password {
        display: flex;
        align-items: center;
        align-self: stretch;
      }

      .loginPage .form_content .form_input .password .eye {
        width: 20px;
        height: 20px;
        margin-left: -55px;
        cursor: pointer;
      }
      /* .loginPage .Error{
    display: none;
} */

      .loginPage .form_content .form_input .password .eye_close {
        width: 20px;
        height: 20px;
        margin-left: -55px;
        cursor: pointer;
        display: none;
      }
      .form_content input {
        display: flex;
        padding: 20px;
        align-items: center;
        gap: 10px;
        flex: 1 0 0;
        border-radius: 88px;
        border: 1px solid var(--grey-15, #262626);
        background: var(--grey-10, #1a1a1a);
      }

      .loginPage .form_footer {
        display: flex;
        padding: 0px 130px;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        align-self: stretch;
      }

      .form_footer .forgot {
        color: var(--White, #fff);
        text-align: center;
        font-family: Lexend;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 24px */
        text-decoration-line: underline;
        align-self: stretch;
      }

      .form_footer .submit,
      .form_footer .signup {
        display: flex;
        padding: 14px 24px;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        text-align: center;
        justify-content: center;
        border-radius: 63px;
        flex: 1 0 0;
        text-align: center;
        font-family: Lexend;
        font-size: 18px;
        font-style: normal;
        line-height: 150%;
        font-weight: bold;
      }

      .form_footer .submit {
        color: var(--grey-15, #262626);
        background: var(--green-60, #caff33);
      }

      .form_footer .signup {
        border-radius: 63px;
        border: 1px solid var(--grey-20, #333);
        background: var(--grey-15, #262626);
        color: var(--White, #fff);
      }

      .form_footer .or {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }

      .form_footer .or .or__text {
        color: var(--color-70-2, #b3b3b3);
        text-align: center;
        font-family: Lexend;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        position: relative;
      }

      .or__text::before,
      .or__text::after {
        content: "";
        position: absolute;
        width: 60px;
        height: 1px;
        background: #b3b3b3;
        top: 50%;
      }

      .or__text::before {
        left: -70px;
      }

      .or__text::after {
        right: -70px;
      }

      .form_footer .or .or__social {
        display: flex;
        align-items: center;
        gap: 30px;
        justify-content: center;
      }

      .or__social .icon {
        display: flex;
        padding: 14px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 50px;
        border: 1px solid #caff33;
        background: linear-gradient(
          180deg,
          rgba(202, 255, 51, 0.1) -66.22%,
          rgba(202, 255, 51, 0) 85.46%
        );
      }

      .or__social .icon svg {
        width: 24px;
        height: 24px;
      }

      @media (max-width: 996px) {
        .loginPage {
          display: flex;
          align-items: center;
          padding: 30px;
          flex-direction: column;
          gap: 40px;
        }
        .loginPage .vector {
          width: 167px;
          height: 159px;
        }

        .login__form .form_content .title {
          font-size: 28px;
        }

        .login__form .form_content .description {
          font-size: 14px;
        }

        .form_content .form_input {
          display: flex;
          flex-direction: column;
        }

        .loginPage .form_footer {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 24px;
          align-self: auto;
        }
        .loginPage .login__form {
          padding: 30px;
          gap: 30px;
        }
      }
      @media (max-width: 600px) {
        .loginPage {
          width: 360px !important;
        }
      }
    </style>
    <script>
        const err = document.querySelector(".error");
         
    </script>
  </head>

  <body
    class="container bg-black d-flex justify-content-center align-items-center"
  >
    <div class="loginPage container position-relative">
      <form class="login__form" method="POST">
        <div class="form_content">
          <div class="error"></div>
          <h1 class="title">Reast Password</h1>
          <p class="description">Please enter your new password</p>
          <div class="form_input">
            <label class="text-white-50" for="email">Password</label>
            <input
              class="form-control"
              type="password"
              name="password"
              id="password"
            />
            <input
              class="btn text-white-50 text-center"
              type="submit"
              value="Submit"
            />
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
